.task {

  display: grid;
  grid-template-columns: 3em 2fr minmax(0, 1fr) 1fr;
  grid-template-rows: 3em;
  justify-items: start;
  align-items: center;

  > .description {
    font-size: larger;
  }
}